.slider {
    --max-slider-width: 1200px;
}

.tod {
    background: #fff !important;
}

.splide__arrow.splide__arrow--prev,
.splide__arrow.splide__arrow--next {
    border-right: 0px;
    border-left: 0px;
}

#testimonial-slider .splide__track {
    box-shadow: 3px 2px 17px #00000029;
    border-right: 0px solid #70707069;
    border-left: 0px solid #70707069;
}

#testimonial-slider .slider_sub_container {
    box-shadow: none !important;
    gap: 0px;
    justify-content: space-between;
    padding: 50px 0px 0px 0px;
}

#testimonial-slider .splide__pagination {
    bottom: -3.8em !important;
    gap: 25px;
}

/*###############################
######### Testimonial-section #######
#################################*/
#testimonial-slider {
    margin-top: 1em;
}

#testimonial-slider .hor-pagination-container {
    margin-block: 1em;
}

#testimonial-slider li h3 {
    font-size: 25px;
    color: #024778;
    text-align: center;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    padding: 10px 0px;
}

#testimonial-slider li p {
    font-size: 16px;
    color: #454545;
    margin: 0 auto;
    line-height: 28px;
    padding: 1px 0px;
}

#testimonial-slider .testimonial_text p {
    font-size: 1em;
    color: #454545;
    margin: 0 auto;
    line-height: 30px;
    padding: 4px 0px;
    max-width: 800px;
    position: relative;
    text-align: left;
}

#testimonial-slider .splide__pagination__page.is-active {
    background: #0B3766;
}

#testimonial-slider .splide__pagination__page {
    border: 1px solid #0B3766;
    height: 20px;
    width: 20px;
}

#testimonial-slider .testimonial_text .quote-start,
#testimonial-slider .testimonial_text .quote-end {
    display: inline-block;
    width: 1.5em;
    height: 1.2em;
    background-repeat: no-repeat;
}

#testimonial-slider .testimonial_text .quote-start {
    background-image: url('../../images/left-inveted.png');
}

#testimonial-slider .testimonial_text .quote-end {
    background-image: url('../../images/right-inveted.png');
    transform: translateY(0.4em);
}

#section-11 .splide__arrow {
    --arrow-btn-color: gray;
    --arrow-btn-width: 2em;
    opacity: .9;
}

#section-11 .splide__arrow:hover {
    --arrow-btn-color: #eee;
}

#section-13 {
    padding-block: min(20vw, calc(2 * var(--universal-padding-heavy)));
}

#section-13 .splide__arrow {
    --arrow-btn-color: #024778;
}

#section-13 .splide__arrow:hover {
    --arrow-btn-color: #02477833;
}

.testimonial-section {
    padding-block: 0px;
}

.testimonial-section .content-container {
    padding-top: 4em;
    padding-bottom: 4em;
}

.testimonial-section .slider_sub_container .team-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 4em;
    padding: 20px 28px;
}

.testimonial-section .slider_sub_container .team-container-mobile {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 4em;
    flex-wrap: wrap;
    padding: 20px 28px;
    display: none;
}

.testimonial-section .slider_sub_container .team-container .team-details {
    text-align: left;
    max-width: 600px;
    width: 100%;
}

.testimonial-section .slider_sub_container .team-container .team-details h2 {
    font-size: 2em;
}

.testimonial-section .slider_sub_container .team-footer {
    display: flex;
    flex-direction: row;
    background-color: #EDEDED;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    margin-top: 20px;
    row-gap: 1em;
    column-gap: 10em;
    flex-wrap: wrap;
}

.testimonial-section .slider_sub_container .team-footer .team-phone,
.team-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 185px;
    gap: 0.6em;
}

.testimonial-section .slider_sub_container .team-footer .team-email img {
    width: 30px;
}

.testimonial-section .slider_sub_container .team-footer .team-phone img {
    width: 30px;
}

.testimonial-section .slider_sub_container .team-details .designation2:nth-child(2) {
    display: block;
    font-size: 19px;
    font-weight: 600;
    color: #8B8B8B;
    position: relative;
}

.testimonial-section .slider_sub_container .team-details .designation2:nth-child(2)::after {
    content: " ";
    width: 60px;
    height: 2px;
    position: absolute;
    top: 36px;
    left: 0;
    background-color: #FDCE01;
}
.carrier-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min(90%, 1380px);
    text-align: center;
    margin:0 auto;
}
.carrier-main .heading-container {
    background-color: var(--light);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0em;
    padding: 0em 0px 3em 0px;
    color: white;
}

.carrier-main .heading-container .heading {
    width: min(90%, var(--container-max-width));
    text-align: center;
}

.carrier-picture-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: clamp(0.75em, 4vw + 0.1rem, 1em);
    gap: min(14vw, 3em);
    width: 85%;
}

.carrier-picture-container .carrier-picture {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: min(95%, 422px);
    gap: 18px;
}

.carrier-picture-container .carrier-picture .pic_area {
    background-color: #D7E1F8;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image-animate {
    transition: 0.3s ease-in-out;
}

.carrier-picture-container .carrier-picture .pic_area:hover {
    background-color: #FDCE01;
    transition: 0.3s ease-in-out;
}

.carrier-picture-container .carrier-picture .pic_area:hover .image-animate {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.carrier-picture-container .carrier-picture .pic-text {
    width: 100%;
    text-align: center;
    cursor: initial;
}

.carrier-picture-container .carrier-picture .pic-text h3 {
    width: 75%;
    margin: 0 auto;
}

.carrier-picture-container .carrier-picture .pic-text a {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
}

.pic-simple-border {
    border-bottom: 0.5px solid #D1D1D1;
}


@media(max-width:768px) {
    #testimonial-slider .slider_sub_container {
        padding: 25px 0px 0px 0px;
        justify-content: space-evenly;
    }

    #testimonial-slider .testimonial_text p {
        font-size: 0.9em;
        line-height: 25px;
        padding: 3px!important;
    }

    .testimonial-section .slider_sub_container .team-footer .team-email img {
        width: 25px;
    }

    .testimonial-section .slider_sub_container .team-footer .team-phone img {
        width: 25px;
    }

    .testimonial-section .slider_sub_container .team-footer {
        column-gap: 3em;
        font-size: 15px;
    }

    .testimonial-section .slider_sub_container .team-container {
        gap: 1em;
        padding: 5px 25px;
    }

    .testimonial-section .slider_sub_container .team-container-mobile {
        display: flex;
        padding: 0px 25px;
    }

    .testimonial-section .slider_sub_container .team-container .team-details .testimonial_text {
        display: none;
    }
    .testimonial-section .slider_sub_container .team-details .designation2:nth-child(2) { 
        font-size: 19px;
        line-height: 35px;
    }
}

@media (max-width: 661px) {
    #testimonial-slider .testimonial_text p {
        font-size: 0.8em;
        line-height: 22px;
    }

    .testimonial-section .slider_sub_container .team-footer {
        column-gap: 0em;
        font-size: 14px;
    }

    .testimonial-section .slider_sub_container .team-container .team-details h2 {
        font-size: 1.9em;
        line-height: 38px !important;
    }

    .testimonial-section .slider_sub_container .team-container .team-details h4 {
        font-size: 1em;
        line-height: 25px !important;
    }
}

@media (max-width: 550px) {
    #testimonial-slider .testimonial_text p {
        font-size: 0.9em;
        line-height: 23px;
    }

    .testimonial-section .slider_sub_container .team-footer {
        column-gap: 0em;
        font-size: 14px;
    }

    .testimonial-section .slider_sub_container .team-container .team-details h2 {
        font-size: 1.5em;
        line-height: 30px !important;
    }

    .testimonial-section .slider_sub_container .team-container .team-details h4 {
        font-size: 1em;
        line-height: 20px !important;
    }
    .testimonial-section .slider_sub_container .team-details .designation2:nth-child(2) {
        font-size: 0.8em;
        line-height: 35px;
    }
    .testimonial-section .slider_sub_container .team-footer .team-phone,
    .team-email {
        font-size: 12px;
    }
    #testimonial-slider .splide__pagination__page { 
        height: 15px;
        width: 15px;
    }
    #testimonial-slider .splide__pagination { 
        gap: 9px;
    }
    
}

@media(max-width:450px) {
    .testimonial-section .slider_sub_container .team-footer .team-email img {
        width: 21px;
    }

    .testimonial-section .slider_sub_container .team-footer .team-phone img {
        width: 20px;
    }
    .testimonial-section .slider_sub_container .team-footer .team-phone,
    .team-email {
        font-size: 12px;
        width: 149px;
    }
    .testimonial-section .slider_sub_container .team-container .team-details h2 {
        font-size: 1.1em;
        line-height: 26px !important;
    }
    .testimonial-section .slider_sub_container .team-container .team-details h4 {
        font-size: 0.9em;
        line-height: 20px !important;
    }
    
}

/*###############################
######### Testimonial-section #######
#################################*/