.slider {
    --max-slider-width: 1200px;
}

.tod {
    background: #fff !important;
}
.splide__arrow.splide__arrow--prev,.splide__arrow.splide__arrow--next{
    border-right:0px;
    border-left:0px;
}
#testimonial-slider .splide__track {
    box-shadow: 3px 2px 17px #00000029;
    border-right: 0px solid #70707069;
    border-left: 0px solid #70707069;
}

#testimonial-slider .slider_sub_container {
    box-shadow: none !important;
    gap: 0px;  
    justify-content: space-between;
    padding: 50px 0px 0px 0px;
}

#testimonial-slider .splide__pagination {
    bottom: -4.34em !important;
}
/*###############################
######### Testimonial-section #######
#################################*/
#testimonial-slider {
    margin-top: 1em;
}

#testimonial-slider .hor-pagination-container {
    margin-block: 1em;
}

#testimonial-slider li h3 {
    font-size: 25px;
    color: #024778;
    text-align: center;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    padding: 10px 0px;
}

#testimonial-slider li p {
    font-size: 16px;
    color: #454545;
    margin: 0 auto;
    line-height: 28px;
    padding: 1px 0px;
}

#testimonial-slider .testimonial_text p{
    font-size: 1em;
    color:#454545;
    margin: 0 auto;
    line-height: 30px;
    padding: 4px 0px;
    max-width: 800px;
    position: relative;
}
#testimonial-slider .splide__pagination__page.is-active {
    background: #0B3766; 
}
#testimonial-slider .splide__pagination__page { 
    border: 1px solid #0B3766;
    height: 20px;
    width: 20px;
}

#testimonial-slider .testimonial_text .quote-start,
#testimonial-slider .testimonial_text .quote-end {
    display: inline-block;
    width: 1.5em;
    height: 1.2em;
    background-repeat: no-repeat;
}

#testimonial-slider .testimonial_text .quote-start {
    background-image: url('../../images/left-inveted.png');
}

#testimonial-slider .testimonial_text .quote-end {
    background-image: url('../../images/right-inveted.png');
    transform: translateY(0.4em);
}

#section-11 .splide__arrow {
    --arrow-btn-color: gray;
    --arrow-btn-width: 2em;
    opacity: .9;
}

#section-11 .splide__arrow:hover {
    --arrow-btn-color: #eee;
}

#section-13 {
    padding-block: min(20vw, calc(2 * var(--universal-padding-heavy)));
}

#section-13 .splide__arrow {
    --arrow-btn-color: #024778;
}

#section-13 .splide__arrow:hover {
    --arrow-btn-color: #02477833;
}

.testimonial-section {
    padding-block: 0px;
}

.testimonial-section .content-container {
    padding-top: 4em;
    padding-bottom: 4em;
}

.testimonial-section .slider_sub_container .team-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap:4em;
    flex-wrap: wrap;
    padding: 20px 28px;
}
.testimonial-section .slider_sub_container .team-container .team-details{
    text-align: left;
    max-width: 600px;
    width: 100%;
}

.testimonial-section .slider_sub_container .team-footer{
    display: flex;
    flex-direction: row;
    background-color: #EDEDED;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    row-gap:1em;
    column-gap: 10em;
}

.testimonial-section .slider_sub_container .team-footer .team-phone,.team-email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.testimonial-section .slider_sub_container .team-details .designation2:nth-child(2)::after {
    content: " ";
    width: 60px;
    height: 2px;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #FDCE01;
}
/*###############################
######### Testimonial-section #######
#################################*/